In [12]:
import os
from glob import glob
import json
import torchaudio
import numpy as np
import pandas as pd

BASE_DIR = '/root/class/cmu/LSMA/ls-hw1'
DATA_DIR = '/shared/youngkim/dataset'
os.chdir(DATA_DIR)

AUDIO_DIR = os.path.join(DATA_DIR, 'wav_16k')
wav_file_paths = glob(os.path.join(AUDIO_DIR, '*'))

In [3]:
label_idx = os.path.join(DATA_DIR, 'labels/cls_map.csv')
pd.read_csv(label_idx)

                   Label  Category
0    blowing_out_candles         0
1   dribbling_basketball         1
2       flipping_pancake         2
3      getting_a_haircut         3
4       hitting_baseball         4
5   home_roasting_coffee         5
6           motorcycling         6
7            mowing_lawn         7
8          playing_drums         8
9         playing_guitar         9
10         playing_piano        10
11        shoveling_snow        11
12               singing        12
13           tapping_pen        13
14              tickling        14

In [6]:
train_df = pd.read_csv(os.path.join(DATA_DIR, 'labels/kfold_df.csv'))
train_df

                                Id  Category  kfold
0     NjUzNjkxMTk0MzI5NDYwNTA2NA==         0    3.0
1     LTcxNTE1MDY1Mjc5NzMxMTExNDI=         0    0.0
2     NTMyNTQxODcwODc5MjU2NDk4NA==         0    3.0
3     LTY0NjAxNjcyNTUyNDI5Mzc2MTE=         0    1.0
4     NTgzMjc4Mzk0MjQwMzYyMjA1NQ==         0    1.0
...                            ...       ...    ...
7491  LTUxMTQ5Mjg2OTQyNjgyMTc1NzA=        14    1.0
7492  NDA2NjM0NDg5MDc3NzM3NjQ5OA==        14    0.0
7493  LTEwMzgyODQzNTYwMjM5NDY3NzI=        14    0.0
7494  LTQzOTI1MDQ1OTQ3NzUyMjQ4Mg==        14    3.0
7495  LTIwMTA2OTMzMjU2MzMyNzExMDA=        14    4.0

[7496 rows x 3 columns]

In [11]:
wav_file_paths[:3]

['/shared/youngkim/dataset/wav_16k/LTg0Mjg2ODE4NzEzOTY5NjE0OTM=.wav',
 '/shared/youngkim/dataset/wav_16k/NDkxMjg3NTA2Mjg5NjMxNDI0MQ==.wav',
 '/shared/youngkim/dataset/wav_16k/LTg0MTI4MTM1MzAzOTU5NDkzNDg=.wav']

In [16]:
if os.path.exists(f'{DATA_DIR}/datafiles') == False:
    os.mkdir(f'{DATA_DIR}/datafiles')

base_dir = '/shared/youngkim/dataset/wav_16k'
for i in range(5):
    train_wav_list = []
    eval_wav_list = []
    meta = zip(train_df.Id, train_df.Category, train_df.kfold)
    for id, category, fold in meta:
        fold = int(fold)
        wav_path = f'{base_dir}/{id}.wav'
        meta_dict = {"wav":wav_path, "labels":category}
        if fold == i:
            eval_wav_list.append(meta_dict)
        else:
            train_wav_list.append(meta_dict)

    print('fold {:d}: {:d} training samples, {:d} test samples'.format(i, len(train_wav_list), len(eval_wav_list)))

    with open(f'{DATA_DIR}/datafiles/esc_train_data_'+ str(i) +'.json', 'w') as f:
        json.dump({'data': train_wav_list}, f, indent=1)

    with open(f'{DATA_DIR}/datafiles/esc_eval_data_'+ str(i) +'.json', 'w') as f:
        json.dump({'data': eval_wav_list}, f, indent=1)

fold 0: 5996 training samples, 1500 test samples
fold 1: 5997 training samples, 1499 test samples
fold 2: 5997 training samples, 1499 test samples
fold 3: 5997 training samples, 1499 test samples
fold 4: 5997 training samples, 1499 test samples

In [17]:
test_df = pd.read_csv(os.path.join(DATA_DIR, 'labels/test_for_students.csv'))
test_df

                               Id  Category
0    LTExODM2Mzc0ODQyOTc1ODE4NDM=       NaN
1    LTUwNDU3NzgyNjE2Mzk0OTU1NjQ=       NaN
2        ODU3OTE0MDU5NzM5NDI2MDQ2       NaN
3    LTQ4OTE2NDk5ODk4MTA3NDY5Mzg=       NaN
4    MjkzNzMwNzkxNTg5NDA1Mjk3NQ==       NaN
..                            ...       ...
744  Nzk0NzA0MjYxMTg3NDkxNjQ4OQ==       NaN
745  LTMzMjA0NjkyNzYwMDQ0NDUyNzY=       NaN
746  LTQxNDgxNjU0MzY3OTQzNzIzMTc=       NaN
747  NjQyMjk5MDM5OTgwNzY2NDU1MQ==       NaN
748  LTk2NzY1NzIyNTY3MzIxMDkyOA==       NaN

[749 rows x 2 columns]

In [23]:
if os.path.exists(f'{DATA_DIR}/datafiles') == False:
    os.mkdir(f'{DATA_DIR}/datafiles')

test_wav_list = []

for idx, id in enumerate(test_df.Id):
    wav_path = f'{AUDIO_DIR}/{id}.wav'
    meta_dict = {"wav":wav_path, "labels":idx%15}
    test_wav_list.append(meta_dict)

with open(f'{DATA_DIR}/datafiles/med_test_data.json', 'w') as f:
    json.dump({'data': test_wav_list}, f, indent=1)

In [21]:
AUDIO_DIR

'/shared/youngkim/dataset/wav_16k'

In [22]:
if os.path.exists(f'{DATA_DIR}/datafiles') == False:
    os.mkdir(f'{DATA_DIR}/datafiles')

train_wav_list = []
meta = zip(train_df.Id, train_df.Category)
for id, category in meta:
    wav_path = f'{AUDIO_DIR}/{id}.wav'
    meta_dict = {"wav":wav_path, "labels":category}
    train_wav_list.append(meta_dict)

print('{:d} training samples'.format(len(train_wav_list)))

with open(f'{DATA_DIR}/datafiles/med_train_data.json', 'w') as f:
    json.dump({'data': train_wav_list}, f, indent=1)

7496 training samples